
captum==0.7.0
faiss==1.9.0
matplotlib==3.10.0
networkx 
numpy 
ogb 
pandas
pyg-lib==0.4.0+pt22cu121
scikit-learn
scipy 
seaborn 
torch==2.2.2
torch-cluster 
torch-scatter 
torch-sparse 
torch_geometric==2.5.2
tqdm 
